:root {
    --clr-black: #000000;
    --clr-white: #F6F6F6;
    --clr-gray: #929292;
    --clr-yellow-text: #ECBD47;
}

body {
    background-color: var(--clr-black);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo i {
    color: var(--clr-yellow-text);
    font-size: 2rem;
}

.logo a {
    text-decoration: none;
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--clr-white);
}

.header-Search {
    width: 100%;
    max-width: 800px;
    background-color: var(--clr-white);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#headerSearchForm {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.header-Search i {
    color: var(--clr-gray);
}

#searchBtn {
    cursor: pointer;
}

.search-show-input {
    background-color: var(--clr-white);
    border: none;
    outline: none;
    width: 100%;
    max-width: 800px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none;
}

section {
    margin-bottom: 200px;
}

.section-title {
    color: var(--clr-yellow-text);
}

#featuredTodayShows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

#searchResultShows {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.result-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}

.result-show-image {
    border-radius: 5px;
}

.result-show-name {
    margin-top: 5px;
    text-decoration: none;
    color: var(--clr-white);
    font-size: 1.3rem;
}

.result-show-name:hover {
    text-decoration: underline;
}

.result-show-name:active {
    color: var(--clr-yellow-text);
}

.result-show-rating {
    position: absolute;
    left: 15px;
    top: 1px;
}

.result-show-rating-text {
    color: var(--clr-black);
    padding: 0px 5px;
    border-radius: 5px;
    padding-left: 5px;
    background-color: var(--clr-yellow-text);
}

@media (max-width: 780px) {
    .logo {
        display: none;
    }
}